@font-face {
    font-family: 'nobot';
    src: url('../SUPERMARKET.eot');
    src: url('../SUPERMARKET.eot?#iefix') format('embedded-opentype'),
    url('../SUPERMARKET.woff') format('woff'),
    url('../SUPERMARKET.ttf') format('truetype'),
    url('../SUPERMARKET.svg#RSU') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RSU';
    src: url('../RSU.eot');
    src: url('../RSU.eot?#iefix') format('embedded-opentype'),
    url('../RSU.woff2') format('woff2'),
    url('../RSU.woff') format('woff'),
    url('../RSU.ttf') format('truetype'),
    url('../RSU.svg#RSU') format('svg');
    font-weight: normal;
    font-style: normal;
}

